.payment_h4 {
  padding: 12%;
  color: gray;
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 50px;
}

hr {
  color: black !important;
}


.content-container {
  min-height: calc(100vh - 34px);
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

.payment_h4 p {
  padding-block: 10px;
  text-align: left;
  margin-left: 40px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}

@media (max-width: 991px) {
  .payment_h4{
    margin-top: 400px;
  }
}